:root {
  --border-input: 1px solid #e6e6e6;
  --border-button: 1px solid #7eb402;
  --border-button-disabled: 1px solid #bfbfbf;
  --border-error: 1px solid #e54702;
  --border-info: 4px double #6fa9bf;
  --border-divide: 1px dashed #00000030;
  --text-error: #e54702;
  --text-input: #4f4f4f;
  --bk-button: #8bc603;
  --bk-button-disabled: #e4e4e4;
  --text-button: #fff;
  --text-button-disabled: #bfbfbf;
  --text-link: #02a7e5;
  --text-info: #6fa9bf;
  --text-timer: #487a8c;
  --text-default: #00000095;
  --text-secondary: #00000080;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 16px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
